@{
    ViewData[Constants.Title] = Miniblog.Core.Properties.Resources.Offline;
}
<div class="w3-container">
    <h1>@Miniblog.Core.Properties.Resources.Offline</h1>
    <p>@Miniblog.Core.Properties.Resources.ThePageYouRequestedCanNotBeShownBecauseYouAreOffline</p>
</div>
