@{
	ViewData[Constants.Title] = "About Refaxtor";
	ViewData[Constants.Description] = "Evolving Code";
	string host = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

<h1>About REFAXTOR</h1>

<p>Every programmer refactors code.  Some devs get their ideas out into the IDE and get a working prototype and then refactor into code they are proud of.  Some devs inherit code bases that need to be updated or tidied up.  In any case, refactoring is part of the developer's world and this blog walks through some examples of refactoring existing code bases.</p>










